MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=jobportal_db
MYSQL_USER=root
MYSQL_PASS=Admin123!

MONGO_URI=mongodb://localhost:27017/jobportal_read

JWT_SECRET=your_secret_key
PORT=3001
NODE_ENV=development
